<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Idea Space</title>
  </head>
  <body>
    {{#each users}}
      {{firstName}}
      {{lastName}}
      {{email}}
    {{/each}}
  </body>
</html>
